*{
	margin:0px;
	padding:0px;
}

body{
    width:100%;
	height:100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  width: auto;
  margin: 0 auto;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(https://medici-prod.s3-us-west-2.amazonaws.com/uploads/machinelearning.jpg);
  background-size:cover;
  color: white;
  text-align: center;
}

.top-wrapper h1{
  font-size: 45px;
  letter-spacing: 5px;
  text-shadow: 2px 2px 4px #000000;
}

.top-wrapper h3 {
  margin-bottom: 40px;
  text-shadow: 2px 2px 4px #000000;
}

input {
  border:1px solid #dee7ec;
  width:600px;
  margin-top:10px;
  margin-bottom:30px;
  padding:20px;
  font-size:18px;
  left: 30px;	
  border-radius: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

.icon {
    position:relative;
    margin-top:10px;
    margin-bottom:30px;
    padding:20px;
    font-size:18px;
    padding:20px;
    left: -5px;
    border-radius: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(0, 25, 65, 0.9);
  position:fixed;
  top:0;
  z-index:10;
}

.header-left img{
  width: auto;
  height: 60px;
}

.header-left {
  float: left;
  filter: drop-shadow(1px 1px 1px white);
  margin: 0px;
  padding-left: 10px;
}

.header-right {
  float: right;
  transition: all 0.5s;
}

.header-right li{
  float:left;
}

.header-right li a{
  display: inline-block;
  color: white;
  height:65px;
  line-height: 65px;
  padding: 0px 20px;
}

.header-right li a:hover {
  background-color: black;
}

.active {
   background-color: rgba(51, 102, 153, 1);

.konten-wrapper {
    padding-bottom: 80px;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
  }

  .team {
    float: left;
    width: 20%;
  }

  .team h4 {
    margin-bottom: 0;
  }
  
  .team-icon {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 100px;
  }

  .team-icon img {
      width: 200px;
      height: 200px;
  }

  .text-contents {
    width: 80%;
    display: inline-block;
    font-size: 15px;
    color: #b3aeb5;
  }

main{
    background-color: #44E7EB;
    height: 600px;   
}

footer{
    background-color: #2f5167;
    color: #2f5167;
    height: 50px;
    padding: 5px;
}   
 
.footer-logo{
    font-size: 32px;
    float: left;
}

.footer-logo img{
    width: 100px;
    height: auto;
    padding: 5px;
}

.footer-social{
    float: right;
    padding: 5px;
}

.footer-social li{
    padding-right: 5px;   
}

.facebook{
    background-color: #3b5998;   
}

.twitter{
    background-color: #55acee;
}    

.instagram{
    background-color: red;
}    

.btn {
    padding; 0px 10px;
}    

.btn:hover {
    opacity: 0.5;
}    

