@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul, li{
    text-decoration: none;
    padding: 10px;
    list-style-type: none;
    display: inline;    
}

.header-text h4,h1{
    margin: 0;
    color: Black;
}

.header-text{
    padding: 50px 20px 100px 100px;
}

li a{
    text-decoration: none;
    color: white;    
}

.navbar{
    font-size: 16px;
    padding-top: 20px; 
    margin-right: 20px;
}

header{
    background-image: url(https://www.insidehighered.com/sites/default/server_files/media/iStock-520374378.jpg);
    background-size: cover;
    height: 400px;
}

nav{
    display: flex;
    justify-content: space-between;
}

.header-logo img{
    padding: 20px;
    width: 100px;
    height: auto;
}

.title-team
{
    text-align: center;
    padding-top: 50px;
}
.title-team img{
    width: 30%;
    padding-bottom: 50px;
}

.title-team p{
    max-width: 100%;
    justify-content: center;
    padding: 0px 200px;
}
  
  .wrapper .our_team{
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
  .wrapper .our_team .team{
    width: 200px;
    height: auto;
    margin: 40px;
    /* position: relative; */
  }
  
  .wrapper .our_team .team img{
    width: 120%;
    height: 350px;
    display: block;
    
  }
  
  .wrapper .our_team .team .team_name{
    padding: 10px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .team_name p{
      padding-top: 10px;
  }
  .team_name 
  {
    background: #1abc9c;
    width: 120%;
  }
  .team_name 
  {
    background: #34495e;
    width: 120%;
  }
  .info{
      width: 120%;
      height: 50%;
      background-color: #34495e;
      text-align: center;
  }
  .info p{
      color: #bdc3c7;
  }
.contact-title{
    text-align: center;
}
.contact-title img{
    width: 30%;
    padding-top: 10px;
}

.contact-info{
    display: flex;
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    padding: 50px 10%;
    /* background-color: silver; */
}

.card{
    background: #2f3542;
    padding: 0 20px;
    margin: 0 20px;
    width: calc(15% - 10px);
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 10px;

}

.card-icon{
    font-size: 28px;
    background: #ff6348;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px !important;
    border-radius: 50%;
    transition: 0.3s linear;
    justify-content: center;
    text-align: center;
}

.card:hover .card-icon{
    background: none;
    color: #ff6348;
    transform: scale(1.6);
}

.card p{
    margin-top: 20px;
    font-size: 10px;
    letter-spacing: 5px;
    max-height: 0;
    opacity: 0;
    transition: 0.3 linear;
}

.card:hover p{
    max-height: 40px;
    opacity: 1;
}


main{
    background-color: #ced6e0;
    height: auto;   
}

footer{
    background-color: #2f5167;
    color: #2f5167;
    height: 50px;
    padding: 5px;
}   
 
.footer-logo{
    font-size: 32px;
    float: left;
}

.footer-logo img{
    width: 100px;
    height: auto;
    padding: 5px;
}

.footer-social{
    float: right;
    padding: 5px;
}

.footer-social li{
    padding-right: 5px;   
}

.facebook{
    background-color: #3b5998;   
}

.twitter{
    background-color: #55acee;
}    

.instagram{
    background-color: red;
}    

.btn {
    padding: 0px 10px;
}    

.btn:hover {
    opacity: 0.5;
}    
