body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul,li{
    text-decoration: none;
    padding: 10px;
    list-style-type: none;
    display: inline;    
}

.header-text h4,h1{
    margin: 0;
    color: white;
}

.header-text{
    padding: 50px 20px 100px 100px;
}

li a{
    text-decoration: none;
    color: white;    
}

.navbar{
    font-size: 16px;
    padding-top: 20px; 
    margin-right: 20px;
}

header{
    background-color: teal;
}

nav{
    display: flex;
    justify-content: space-between;
}

.header-logo img{
    padding: 20px;
    width: 100px;
    height: auto;
}

.information{
    width: 70%;
    height: 125px;
    background-color: white;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -50px;
    text-align: center;
}

main{
    background-image: url(https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX11459839.jpg);
    height: 600px;   
}

footer{
    background-color: #2f5167;
    color: #2f5167;
    height: 50px;
    padding: 5px;
}   
 
.footer-logo{
    font-size: 32px;
    float: left;
}

.footer-logo img{
    width: 100px;
    height: auto;
    padding: 5px;
}

.footer-social{
    float: right;
    padding: 5px;
}

.footer-social li{
    padding-right: 5px;   
}

.facebook{
    background-color: #3b5998;   
}

.twitter{
    background-color: #55acee;
}    

.instagram{
    background-color: red;
}    

.btn:hover {
    opacity: 0.5;
}    
